pandas
numpy
polars
networkx
matplotlib
plotly
scikit-learn
torch
torch-geometric
transformers
sentence-transformers
sec-edgar-downloader
jupyter
ipykernel
rapidfuzz
spacy
yfinance
node2vec
torch-geometric-temporal